$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/* custom scss */
$body-bg:#5a6378 !default;
$link-color:#a8b0c0 !default;
$brand-idle:#7d7d7d !default;
$btn-idle-color:#fff !default;
$btn-idle-bg:$brand-idle !default;
$btn-idle-border:darken($btn-idle-bg, 5%) !default;
$label-idle-bg:$brand-idle !default;
$progress-bar-idle-bg:$brand-idle !default;

@media screen and(max-width:768px){
    .content-text span{text-align:center;}
}


// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}



/* custom css */
html,body{height:100%;}
.padding-base-vertical{padding:$padding-base-vertical;}
.padding-base-horizontal{padding:$padding-base-horizontal;}
.padding-sm-vertical{padding:$padding-small-vertical;}
.padding-sm-horizontal{padding:$padding-small-horizontal;}
.btn-idle{@include button-variant($btn-idle-color, $btn-idle-bg, $btn-idle-border);}
.btns-form-group *,.padding-sm-top{margin-top:4px !important;}

.navbar-brand{color:#fff;}
header{background-color:#393f4f;text-transform:capitalize;}
.nav-menulist a:hover{background-color:#393f4f;color:#fff;}
.nav-menulist .active{border-bottom:3px solid #94c6ea;color:#94c6ea;}
.navbar-nav a:hover,.navbar-nav:focus,.page-elements .nav-tabs a:hover{background-color:transparent !important;}
.page-list-cell{margin-top:15px;height:200px;overflow:hidden;border:1px solid #485061;border-width:1px 2px 2px 1px;}
.page-list-cell .page-info{position:relative;background-color:rgba(36,43,60,0.8);height:60px;margin-top:140px;line-height:2;color:#fff;font-size:1.3em;}
.page-info span{display:block;margin-top:-5px;font-size:11px;color:#9aa2b2;}
.sample1{background:url(../../images/photo1.png) no-repeat #fff;background-size:100% 100%;}
.sample2{background:url(../../images/photo2.jpg) no-repeat #fff;background-size:100% 100%;}
.userPhoto{width:50px;height:50px;float:left;margin:4px 10px 0 10px;border-radius:50%;border:2px solid #292d39;}
.page-list-cell .headline{position:absolute;margin:20px 10px 5px 10px;top:0;width:80%;font-size:2em;color:#fff;}
.page-list-cell .headline-description{position:absolute;top:50px;margin:5px 10px 5px 12px;width:80%;font-size:1.1em;}
.headline-halign-right,.headline-halign-right+.headline-description{text-align:right;}
.page-list-cell-sideinfo{margin-top:5px;color:#394153;}
.page-list-cell-sideinfo .starActive{color:#fff;}
.page-list-cell-sideinfo .comment{color:#fff;font-size:.9em;}
.page-list-cell-sideinfo .comment span{color:#94c6ea;}

.element-content{background:url(../../images/element_contents.png) no-repeat 6px 0px;width:20px;height:20px;display:inline-block;}
.element-text{background-position:6px 0;}
.element-link{background-position:4px -50px;}
.element-mail{background-position:6px -97px;}
.element-phone{background-position:10px -150px;}
.element-location{background-position:9px -199px;}
.checkLabel{font-size:12px;color:#666;}

.page-elements{padding-top:12px;}
.page-canvas{background-color:#fff;}
.page-elements label{color:#b5bdce;font-weight:normal;margin-bottom:1px;font-size:13px;}
.page-elements .btn-sm{padding:3px 7px;font-size:14px;}
.page-elements .nav-tabs,.nav-tabs *{border:none !important;}
.page-elements .nav-tabs li{padding-bottom:7px;}
.page-elements .nav-tabs .active{background:url(../../images/arrow_tabactive.png) no-repeat 50% 105%;}
.page-elements .nav-tabs+.tab-content{background-color:#ebebeb;padding:3px 5px;}
.page-elements .tab-content .form-group{margin-bottom:5px;}

.page-canvas{padding:0;}
.page-canvas .headline{background:url(../../images/photo1.png) no-repeat #fff;background-size:100% 100%;height:280px;padding:10px 15px;}
.headline p{margin-top:5px;}
.page-canvas .headline h1{margin:0;}
.headline.valign-top h1{margin-top:0;}
.headline.valign-middle h1{margin-top:13%;}
.headline.valign-bottom h1{margin-top:20%;}
.halign-left{text-align:left;}
.halign-center{text-align:center;}
.halign-right{text-align:right;}
.Paragraphline{background-color:#ebebeb;padding:10px 15px;font-size:1.3em;}

.content-icon{text-align:center;}
.content-icon span{background-color:#99a3bc !important;border-radius:50%;padding:15px;color:#fff;text-align:center;font-size:2.5em;}
.content-text .content-title{display:block;margin-top:7px;font-size:1.3em;color:#6277a6;}
.content-text .content-value{display:block;font-size:1em;color:#333;}

.btnline{position:absolute;bottom:0;width:100%;display:block;padding:10px 0;background-color:rgba(70,70,70,0.6);}


.colorType1{color:#68dfa9 !important}
.colorType2,.colorWhite{color:#fff !important}
.colorType3{color:#f2c960 !important}

.row-fluid .page-canvas{padding-bottom:60px;}